<section class="attractions">
  <div class="card">
    <div class="/attraction/{{id}}">
      <header>{{attractions.name}}</header>
    </div>
      <img src="/images/{{attractions.filename}}" alt="{{attractions.description}}">
      <p>{{attractions.description}}</p>
      <a>{{attractions.link}}</a>
  </div>
</div>
