<section class="attractions">
  <div class="card">
    <div class="/attraction/{{id}}">
      <header>{{attractions.name}}</header>
    </div>
    <div class="card-body">
      <img src="/images/attractions/{{attractions.city.name}}/{{attractions.filename}}" alt="{{attractions.name}}" style="width:150px;height:150px;">
      <p>{{attractions.description}}</p>
      <a href="{{attractions.link}}">{{attractions.name}} webpage</a>
    </div>
  </div>
</div>

